<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920413736023-20bfjjg1gj6684u60i71cjs3qhk9esoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920413736023-20bfjjg1gj6684u60i71cjs3qhk9esoq</string>
	<key>API_KEY</key>
	<string>AIzaSyDG_Juj_TPwA75SizXhJbqgwCz0B29z6Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>920413736023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agriApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agriapp-c2b55</string>
	<key>STORAGE_BUCKET</key>
	<string>agriapp-c2b55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920413736023:ios:7a9e09bd797ef3c2aa6712</string>
</dict>
</plist>